body {
  background: #fafafa;
}

#papers {
  font-size: 0.85rem;
}

.select2-container--bootstrap-5 .select2-selection {
  min-height: 31px;
  font-size: 0.875rem;
}

.cell-more {
  cursor: pointer;
}

.small-muted {
  color: #666;
}
